<!DOCTYPE html>
<html>
  <head>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/css/dejarix.css" rel="stylesheet">
    {% block head_css %}{% endblock %}
    
    <title>DEJARIX</title>
  </head>
  <body role="document">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">DEJARIX</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/cards">Cards</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Decks <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/decks">Browse Public Decks</a></li>
                <li><a href="/decks/mine">View My Decks</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Create New Deck</li>
                <li><a href="/decks/new/dark">Dark Side</a></li>
                <li><a href="/decks/new/light">Light Side</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Download <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/static/download/dejarix-win32.zip">Windows 7+ (32-bit)</a></li>
                <li><a href="/static/download/dejarix-osx.zip">OSX 10.9+</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Linux</li>
                <li><a href="/static/download/dejarix32.deb">Ubuntu/Debian (32-bit)</a></li>
                <li><a href="/static/download/dejarix64.deb">Ubuntu/Debian (64-bit)</a></li>
                <li><a href="/static/download/dejarix64.tar.gz">Arch Linux (64-bit)</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
{% if user %}
            <li><a href="/signout">Sign Out ({{user}})</a></li>
{% else %}
            <li><a href="/signin">Sign In</a></li>
{% endif %}
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container" role="main">
        {% block body %}{% endblock %}
    </div>
    
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    {% block body_js %}{% endblock %}
  </body>
</html>
